<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eclox.ui.editor.Editor"
            default="true"
            extensions="doxyfile"
            filenames="doxyfile"
            icon="images/doxyfile.gif"
            id="eclox.ui.editor.Editor"
            name="Doxyfile Editor"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="eclox.ui.wizard.NewDoxyfileWizard"
            hasPages="true"
            icon="images/doxyfile_wizard.png"
            id="eclox.ui.wizard.NewDoxyfile"
            name="Doxyfile"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="eclox.core.PreferencePage"
            class="eclox.ui.PreferencePage"
            id="eclox.ui.preferencePage"
            name="Misc"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="eclox.ui.buildActionSet"
            label="Doxygen Build"
            visible="true">
         <action
               class="eclox.ui.action.BuildActionDelegate"
               icon="images/eclox.png"
               id="eclox.ui.buildAction"
               label="Doxygen Build"
               style="pulldown"
               toolbarPath="org.eclipse.debug.ui.launchActionSet/debug"
               tooltip="Build Doxyfile"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="eclox.ui.PreferencesInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="eclox.ui.commands.category"
            id="eclox.ui.commands.build"
            name="Build">
      </command>
      <category
            id="eclox.ui.commands.category"
            name="Eclox">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eclox.ui.handlers.Build"
            commandId="eclox.ui.commands.build">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="images/eclox.png"
               label="Build Documentation">
            <visibleWhen>
               <with
                     variable="activePart">
                  <test
                        args="resourceType"
                        forcePluginActivation="true"
                        property="eclox.ui.EditorPropertyTester.hasResourceSelection"
                        value="resourceTypeUnknown">
                  </test>
               </with>
            </visibleWhen>
            <command
                  commandId="eclox.ui.commands.build"
                  icon="images/eclox.png"
                  label="Build"
                  style="push">
            </command>
         </menu>
         <command
               commandId="eclox.ui.commands.build"
               icon="images/eclox.png"
               label="Build Documentation"
               style="push">
            <visibleWhen>
               <with
                     variable="activePart">
                  <test
                        args="resourceType"
                        forcePluginActivation="true"
                        property="eclox.ui.EditorPropertyTester.hasResourceSelection"
                        value="resourceTypeFileOrDirectory">
                  </test>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="eclox.ui.EditorPropertyTester"
            id="eclox.ui.EditorPropertyTester"
            namespace="eclox.ui.EditorPropertyTester"
            properties="hasResourceSelection"
            type="org.eclipse.ui.IWorkbenchPart">
      </propertyTester>
   </extension>

</plugin>
