/** Generic styles **/
body
{
	background-color: rgb(255,255,255);
	margin: 0;
	padding: 0;
}

h1, h2, h3, p, ul, ol
{
	margin-left: 17.5%;
	margin-right: 17.5%;
}

a
{
	text-decoration: underline;
}

a img
{
	border-width: 0;
}

h1, h2, h3
{
	font-family: sans-serif;
	font-weight: bold;
	color: rgb(80,80,90);
	margin-top: 2.5em;
}

h2
{
	font-size: 1.5em;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: rgb(200,200,210);
}

h3
{
	margin-top: 1.75em;
	margin-bottom: -0.75em;
	font-size: 0.95em;
}

p, li
{
	font-size: 0.90em;
	font-family: verdana, sans-serif;
}


kbd
{
	background-color: rgb(245,245,255);

	border-style: dotted;
	border-width: 1px;
	border-color: rgb(210,210,255);

	padding: 0.15em 0.3em;
}


/** Header: title and content **/
#title
{
	margin: 0;
	padding-top: 0.5em;
	padding-bottom: 0.5em;

	background-color: rgb(10,0,110);
	background-image: url(moon-top.png);
	background-repeat: no-repeat;
	background-position: 50px bottom;
}

#title h1
{
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	color: rgb(255,255,255);
	text-transform: lowercase;
	letter-spacing: 0.25em;
	font-size: 2.5em;
	font-weight: normal;
}

#title h1 a
{
	text-decoration: none;
	color: rgb(255,255,255);
}

#title h1 a:hover
{
	text-decoration: underline;
}


#contents
{
	margin: 0;
	padding-top: 0.33em;
	padding-bottom: 0.33em;

	background-color: rgb(90,90,150);
	background-image: url(moon-bottom.png);
	background-repeat: no-repeat;
	background-position: 50px top;

	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: rgb(10,0,110);
}

#contents ul
{
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

#contents ul li
{
	margin: 0 1.25em 0 0;
	padding: 0;
	display: inline;
	list-style-type: none;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

#contents ul li#rate a
{
	padding-right: 20px;
	
	background-image: url(favorite.png);
	background-position: right center;
	background-repeat: no-repeat;
}

#contents ul li a
{
	font-family: sans-serif;
	font-size: 0.85em;
	text-decoration: none;
	color: rgb(255,255,255);
}

#contents ul li a:hover
{
	text-decoration: underline;
}


/** announce elements **/
.announce
{
	padding: 50px 0 50px 135px;
	background-position: 0 center;
	background-repeat: no-repeat;
}

.announce a
{
	color: rgb(10,0,110);
}


#get-eclox /** get-eclox announce**/
{
	background-image: url(package.png);
}


#poll /** poll announce**/
{
	background-image: url(idea.png);
}


#postcard /** postcard announce **/
{
	background-image: url(mail.png);
}


/** Poll frames **/
iframe.poll
{
	border: 1px;
	border-style: solid;
	border-color: rgb(200,200,210);
	padding: 2px;
	width: 100%;
	height: 13.5em;
	overflow: hidden;
}


/** Screenshot images **/
#screenshot
{
	margin-left: 3em;
	float: right;
}


/** The change log element **/
#change-log
{
	background-color: rgb(245,245,255);

	border-style: dotted;
	border-width: 1px;
	border-color: rgb(210,210,255);
	
	font-size: 50%;

	width: 100%;
}


/** Footer section **/
div#footer
{
	clear: both;
	color: rgb(170,170,170);
	font-size: 70%;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	margin-top: 6em;
}

div#footer *
{
	margin: 0;
	padding: 0;
	text-align: center;
}

div#footer a
{
	color: rgb(170,170,255);
}
