<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="eclox.core.PreferencesInitializer"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            file-extensions="Doxyfile, doxyfile"
            file-names="Doxyfile, doxyfile, *"
            id="doxyfile"
            name="Doxyfile"
            priority="normal"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="eclox.core.ui.PreferencePage"
            id="eclox.core.PreferencePage"
            name="Doxygen"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="eclox.core.PreferencesInitializer"/>
   </extension>

</plugin>
